# Dependency directories
# Specific files
.DS_Store
package-lock.JSON
.DS_Store
/public
public/Alabama.html
public/Alaska.html
public/Arizona.html
public/Arkansas.html
public/California.html
public/Colorado.html
public/Connecticut.html
public/Delaware.html
public/District_of_Columbia.html
public/Florida.html
public/Georgia.html
public/Hawaii.html
public/Idaho.html
public/Illinois.html
public/Indiana.html
public/Iowa.html
public/Kansas.html
public/Kentucky.html
public/Louisiana.html
public/Maine.html
public/Maryland.html
public/Massachusetts.html
public/Michigan.html
public/Minnesota.html
public/Mississippi.html
public/Missouri.html
public/Montana.html
public/Nebraska.html
public/Nevada.html
public/New_Hampshire.html
public/New_Jersey.html
public/New_Mexico.html
public/New_York.html
public/North_Carolina.html
public/North_Dakota.html
public/Ohio.html
public/Oklahoma.html
public/Oregon.html
public/Pennsylvania.html
public/Rhode_Island.html
public/South_Carolina.html
public/South_Dakota.html
public/Tennessee.html
public/Texas.html
public/Utah.html
public/Vermont.html
public/Virginia.html
public/Washington.html
public/West_Virginia.html
public/Wisconsin.html
public/Wyoming.html
