<footer>
----------
<p>The data is sourced directly from the CDC. The dataset that was used is available <a href="https://wonder.cdc.gov/controller/datarequest/D76;jsessionid=DA1E35917E014A688BE7F7D3B2BE ">here</a>.</p>
<p>
  Our project takes our data, organizes it, and turns it into easily understood charts of deaths in the United States on a state and national level.
  </p>
Created by Matthew Chin '24 & Benjamin Levy '23
</footer>
