<header>
  <div id='menu-button-div'>
<!-- <img src='images/highlight-menu-icon.png' class="menu-icon hidden" id='highlight-menu-icon'> -->
    <img src="menu-icon.png" class='menu-icon' id='menu-icon'>
    <button type="button" id='open-menu'>---</button>
    <button type="button" class="btn-close btn-close-white hidden" aria-label="Close" id='close-menu'></button>
  </div>
  <div id='menu' class='hidden'>
    <a id='close-option'>Close</a>
    <a href="index.html">Index</a>
    <a href='about.html'>About</a>
  </div>
  <a href="index.html">Index</a>
  <a href="about.html">About</a>
  <script src="nav.js"></script>
</header>