<header>
  <!--<div id='menu-button-div'>
 <img src='images/highlight-menu-icon.png' class="menu-icon hidden" id='highlight-menu-icon'>
    <img src="menu-icon.png" class='menu-icon' id='menu-icon'>
    <button type="button" id='open-menu'>---</button>
    <button type="button" class="btn-close btn-close-white hidden" aria-label="Close" id='close-menu'></button>
  </div>
  <div id='menu' class='hidden'> 
    <a id='close-option'>Close</a>
    <a href="index.html">Index</a>
    <a href='about.html'>About</a>
  </div>-->
  <div id="nav-bar-container">
    <h6 id="nav-title">Causes of Death in the US</h6>
    <a class='nav-button' href="index.html">Index</a><a class='nav-button' href="about.html">About</a>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="Alaska.html">Alaska</a></li>
          <li><a class="dropdown-item" href="Alabama.html">Alabama</a></li>
          <li><a class="dropdown-item" href="Arkansas.html">Arkansas</a></li>
          <li><a class="dropdown-item" href="Arizona.html">Arizona</a></li>
          <li><a class="dropdown-item" href="California.html">California</a></li>
          <li><a class="dropdown-item" href="Colorado.html">Colorado</a></li>
          <li><a class="dropdown-item" href="Connecticut.html">Connecticut</a></li>
          <li><a class="dropdown-item" href="District_Of_Columbia.html">District Of Columbia</a></li>
          <li><a class="dropdown-item" href="Delaware.html">Delaware</a></li>
          <li><a class="dropdown-item" href="Florida.html">Florida</a></li>
          <li><a class="dropdown-item" href="Georgia.html">Georgia</a></li>
          <li><a class="dropdown-item" href="Guam.html">Guam</a></li>
          <li><a class="dropdown-item" href="Hawaii.html">Hawaii</a></li>
          <li><a class="dropdown-item" href="Iowa.html">Iowa</a></li>
          <li><a class="dropdown-item" href="Idaho.html">Idaho</a></li>
          <li><a class="dropdown-item" href="Illinois.html">Illinois</a></li>
          <li><a class="dropdown-item" href="Indiana.html">Indiana</a></li>
          <li><a class="dropdown-item" href="Kansas.html">Kansas</a></li>
          <li><a class="dropdown-item" href="Kentucky.html">Kentucky</a></li>
          <li><a class="dropdown-item" href="Louisiana.html">Louisiana</a></li>
          <li><a class="dropdown-item" href="Massachusetts.html">Massachusetts</a></li>
          <li><a class="dropdown-item" href="Maryland.html">Maryland</a></li>
          <li><a class="dropdown-item" href="Maine.html">Maine</a></li>
          <li><a class="dropdown-item" href="Michigan.html">Michigan</a></li>
          <li><a class="dropdown-item" href="Minnesota.html">Minnesota</a></li>
          <li><a class="dropdown-item" href="Missouri.html">Missouri</a></li>
          <li><a class="dropdown-item" href="Mississippi.html">Mississippi</a></li>
          <li><a class="dropdown-item" href="Montana.html">Montana</a></li>
          <li><a class="dropdown-item" href="North_Carolina.html">North Carolina</a></li>
          <li><a class="dropdown-item" href="North_Dakota.html">North Dakota</a></li>
          <li><a class="dropdown-item" href="Nebraska.html">Nebraska</a></li>
          <li><a class="dropdown-item" href="New_Hampshire.html">New Hampshire</a></li>
          <li><a class="dropdown-item" href="New_Jersey.html">New Jersey</a></li>
          <li><a class="dropdown-item" href="New_Mexico.html">New Mexico</a></li>
          <li><a class="dropdown-item" href="Nevada.html">Nevada</a></li>
          <li><a class="dropdown-item" href="New_York.html">New York</a></li>
          <li><a class="dropdown-item" href="Ohio.html">Ohio</a></li>
          <li><a class="dropdown-item" href="Oklahoma.html">Oklahoma</a></li>
          <li><a class="dropdown-item" href="Oregon.html">Oregon</a></li>
          <li><a class="dropdown-item" href="Pennsylvania.html">Pennsylvania</a></li>
          <li><a class="dropdown-item" href="Rhode_Island.html">Rhode Island</a></li>
          <li><a class="dropdown-item" href="South_Carolina.html">South Carolina</a></li>
          <li><a class="dropdown-item" href="South_Dakota.html">South Dakota</a></li>
          <li><a class="dropdown-item" href="Tennessee.html">Tennessee</a></li>
          <li><a class="dropdown-item" href="Texas.html">Texas</a></li>
          <li><a class="dropdown-item" href="Utah.html">Utah</a></li>
          <li><a class="dropdown-item" href="Virginia.html">Virginia</a></li>
          <li><a class="dropdown-item" href="Vermont.html">Vermont</a></li>
          <li><a class="dropdown-item" href="Washington.html">Washington</a></li>
          <li><a class="dropdown-item" href="Wisconsin.html">Wisconsin</a></li>
          <li><a class="dropdown-item" href="West_Virginia.html">West Virginia</a></li>
          <li><a class="dropdown-item" href="Wyoming.html">Wyoming</a></li>
      </ul>
    </div>
  </div>
  
  
  <!-- <script src="nav.js"></script> -->
</header>